[Unit]
Description=TTLAB Client Updater
After=local-fs.target

[Service]
Type=simple
User=root
ExecStart=/opt/ttlab/updater/current/bin/ttlab-updater --serve --config /var/lib/ttlab-client/updater.json
Restart=always
RestartSec=5
Group=ttlab
UMask=0007
RuntimeDirectory=ttlab-updater
RuntimeDirectoryMode=0770

[Install]
WantedBy=multi-user.target
